{% extends "bootstrap/base.html" %}
{%block title %}
{{ character.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row ntext-center">
        <div class="col-md-4">
            <img src="{{ character.thumbnail }}.{{character.extension}}" alt="{{ character.name }}" class="img-fluid" width="100%">
        </div>
        <div class="col-md-8">
            <h1>{{character.name}}</h1>
            <p>{{character.description}}</p>
        </div>
    </div>
</div>
{% endblock content %}
